/* Hero Section */
body{
    background-color: #2c3e50;
    color: #ffffff;
}
.hero-bg {
    background-color: #2c3e50; /* Fondo oscuro */
    padding: 100px 0;
}

.cta-button {
    margin-top: 20px;
    background-color: #27ae60; /* Botón verde */
    color: white;
}

.cta-button:hover {
    background-color: #1e8449;
}

/* Footer - Redes Sociales */
footer .social-icons {
    margin-top: 20px;
}

.social-icons .social-icon {
    color: #f1f0ec;
    font-size: 2rem;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons .social-icon:hover {
    color: #27ae60; /* Verde menta */
}

/* Formulario de Suscripción */
#subscribe-form {
    max-width: 600px;
    margin: 0 auto;
}

#subscribe-form .form-control {
    font-size: 1.1rem;
    border-radius: 10px;
}

#subscribe-form .btn-success {
    background-color: #2ecc71;
}

#subscribe-form .btn-success:hover {
    background-color: #27ae60;
}

/* Navbar */
.navbar-nav .nav-item .nav-link {
    font-size: 1.1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #27ae60; /* Hover color verde */
}

@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }
    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }
}
